<div>
    Beste {{name}},<br>
    <br>
    Zojuist hebben we een activiteitenplan van jullie met succes ontvangen! Jullie hebben aangegeven dat deze geldig is tot {{date}}.<br>
    <br>
    Wanneer dit activiteitenplan verlopen is, zullen jullie een herrinering ontvangen waarin gevraagd wordt om een nieuw activiteitenplan te uploaden.<br>
    <br>
    Heel veel succes met jullie bestuursjaar!<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>

<div style="margin-top: 100px;">
    Dear {{name}},<br>
    <br>
    We have just successfully received an activity plan from you! You have indicated that it is valid until {{date}}. <br>
    <br>
    When this activity plan has expired, you will receive a reminder asking you to upload a new activity plan. <br>
    <br>
    Good luck this year!<br>
    <br>
    Best regards,<br>
    Board of FPSA
</div>