<div>
    Beste {{name}},<br>
    <br>
    Volgens ons administratie systeem is jullie activiteitenplan verlopen... Via de regeling van de Commissie Profileringsfond is het verplicht om binnen twee maanden een nieuw activiteitenplan aan te leveren via onze website.<br>
    <br>
    Een voorbeeld van een activiteitenplan is te vinden op de website: Wanneer je bent ingelogd onder Administratie -> Activiteitenplan -> Handige bestanden.<br>
    <br>
    Heb je een vraag of lukt er iets niet? Stel hem meteen via <a href="mailto:info@fpsa.nl">info@fpsa.nl</a> of door te reageren op deze mail!<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>