<div>
    Beste {{name}},<br>
    <br>
    Helaas moeten wij melden dat uw aanmelding van {{date}} is afgewezen... Als u meer informatie over de afwijzing wilt ontvangen, neem contact op met <a href="mailto:info@fpsa.nl">info@fpsa.nl</a><br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>