<div>
    Beste {{name}},<br>
    <br>
    We hebben uw aanmelding in goede orde ontvangen. Het bestuur van FPSA zal de aanmelding in handen nemen. Jullie ontvangen spoedig een reactie.<br>
    <br>
    In de tussentijd is het altijd een goed idee om onze komende activiteiten in de gaten te houden! <a href="{{baseUrl}}agenda">Klik hier</a> om ze te bekijken<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>