<div>
    Beste {{name}},<br>
    <br>
    Met grote trots kunnen wij u mededelen dat uw aanmelding van {{date}} is geaccepteerd. Welkom bij de Federation of Purple Study Associations!<br>
    <br>
    Let op: Deze mailt is dus je bewijs van inschrijving. BEWAAR DEZE MAIL DUS GOED!<br>
    <br>
    U zult binnenkort een email ontvangen waarin u een wachtwoord kunt instellen voor uw FPSA account. Dit account geeft u toegang tot het FPSA platform waar heel veel informatie te vinden is over bijna alle kwestie die je kunt hebben over het draaien van een studievereniging! Mocht je informatie missen of heb je een vraag, stel hem dan gerust naar <a href="mailto:info@fpsa.nl">info@fpsa.nl</a> of reageer op deze mail!<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>

<div style="margin-top: 100px;">
    Dear {{name}},<br>
    <br>
    We are very proud to inform you that your application from {{date}} has been accepted. Welcome to the Federation of Purple Study Associations! <br>
    <br>
    Note: This e-mail is your proof of registration. SO SAVE THIS MAIL! <br>
    <br>
    You will soon receive an email in which you can set a password for your FPSA account. This account gives you access to the FPSA platform where you can find a lot of information about almost anything you can have about running a study association! If you miss information or have a question, feel free to send it to <a href="mailto:info@fpsa.nl">info@fpsa.nl</a> or reply to this email! <br>
    <br>
    Best regards,<br>
    Board of FPSA
</div>