<div>
    Beste {{name}},<br>
    <br>
    Helaas moeten wij melden dat uw aanmelding van {{date}} is afgewezen... Het bestuur van FPSA zal zo snel mogelijk contact met u opnemen om de reden hierdoor met u door te nemen<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>

<div style="margin-top: 100px;">
    Dear {{name}},<br>
    <br>
    Unfortunately we have to report that your registration of {{date}} has been rejected ... The board of FPSA will contact you as soon as possible to discuss the reason.<br>
    <br>
    Best regards,<br>
    Board of FPSA
</div>