<div>
    Beste {{name}},<br>
    <br>
    We hebben uw aanmelding in goede orde ontvangen. Het bestuur van FPSA zal de aanmelding in handen nemen. Jullie ontvangen spoedig een reactie.<br>
    <br>
    In de tussentijd is het altijd een goed idee om onze komende activiteiten in de gaten te houden! <a href="{{baseUrl}}agenda">Klik hier</a> om ze te bekijken<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>

<div style="margin-top: 100px;">
    Dear {{name}},<br>
    <br>
    We have received your registration in good order. The FPSA board will take over the registration. You will receive a response soon. <br>
    <br>
    In the meantime, it's always a good idea to keep an eye on our upcoming activities! <a href="{{baseUrl}}agenda">Click here to view them!</a> <br>
    <br>
    Best regards,<br>
    Board of FPSA
</div>