<div>
    Beste {{name}},<br>
    <br>
    Met grote trots kunnen wij u mededelen dat uw aanmelding van {{date}} is geaccepteerd. Welkom bij de Federation of Purple Study Associations!<br>
    <br>
    Let op: Deze mailt is dus je bewijs van inschrijving. BEWAAR DEZE MAIL DUS GOED!<br>
    <br>
    U zult binnenkort een email ontvangen waarin u een wachtwoord kunt instellen voor uw FPSA account. Dit account geeft u toegang tot het FPSA platform waar heel veel informatie te vinden is over bijna alle kwestie die je kunt hebben over het draaien van een studievereniging! Mocht je informatie missen of heb je een vraag, stel hem dan gerust naar <a href="mailto:info@fpsa.nl">info@fpsa.nl</a> of reageer op deze mail!<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>