<div>
    Beste {{name}},<br>
    <br>
    Helaas moeten wij melden dat uw aanmelding van {{date}} is afgewezen... Het bestuur van FPSA zal zo snel mogelijk contact met u opnemen om de reden hierdoor met u door te nemen<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>