<div>
    Beste Commissie Profileringsfonds,<br>
    <br>
    Bij deze willen we jullie op de hoogte brengen van een nieuw ontvangen bestuursbeurs.<br>
    <br>
    <b>Naam vereniging:</b> {{name}}<br>
    <b>Ingelevered op:</b> {{date}}<br>
    <b>Gecontroleerd op:</b> {{checkedDate}}<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>
