<div>
    Beste {{name}},<br>
    <br>
    Zojuist hebben we de aanmelding voor de bestuursbeurs van jullie met succes ontvangen! Deze aanmelding zal gaan over de periode {{board_grant_period}}<br>
    <br>
    Het bestuur van FPSA zal controlleren of alle gegevens aanwezig zijn conform de procedure bestuursbeurs en zal het hierna opsturen klaar zetten voor de commissie profileringsfonds. Indien er iets mist zul je dit van het ons horen. De daadwerkelijk uitslag zal je te horen krijgen van de commissie profileringsfonds zelf!<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>

<div style="margin-top: 100px;">
    Dear {{name}},<br>
    <br>
    We have just successfully received your application for the board grant! This registration will concern the period {{board_grant_period}} <br>
     <br>
     The board of FPSA will check whether all data is present in accordance with the committee grant procedure and will then prepare it for the Profiling Fund committee. If something is missing you will hear this from us. You will hear the actual result from the Profile Fund Committee itself! <br>
    <br>
    Good luck this year!<br>
    <br>
    Best regards,<br>
    Board of FPSA
</div>