<div>
    Beste {{name}},<br>
    <br>
    Bij deze bevestigen wij dat alle benodigde documenten aanwezig zijn.<br>
    <br>
    We willen nog wel benadrukken dat dit nog geen garantie is op het krijgen van de bestuursbeurs. Het CPF zal na het invullen van de individuele aanvragen hierover besluiten.<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>

<div style="margin-top: 100px;">
    Dear {{name}},<br>
    <br>
    We hereby confirm that all necessary documents are present.<br>
    <br>
    We would like to emphasize that this is not yet a guarantee of receiving the board grant. The CPF will decide on this after completing the individual applications.<br>
    <br>
    Best regards,<br>
    Board of FPSA
</div>