<div>
    Beste bestuur der FPSA,<br>
    <br>
    Zojuist is er een contact formulier ingevuld en opgestuurd. Hieronder staan de gegevens van het formulier weergegeven:<br>
    {{message}}
    <br>
    <br>
    Jullie kunnen reageren op deze mail door de reply functie van je mail te gebruiken!<br>
    <br>
    Met vriendelijke groet,<br>
    {{name}}
</div>