<div>
    Beste bestuur der FPSA,<br/>
    <br/>
    Zojuist is er een document geupdated<br/>
    <br/>
    <b>Naam vereniging:</b> {{name}} <br/>
    <b>Type document:</b> {{type}} <br/>
    <b>Orginele datum upload:</b> {{date}} <br/>
    <b>Update datum:</b> {{newDate}} <br/>
    <br>
    Met vriendelijke groet,<br>
    Computersysteem FPSA
</div>