<div>
    Beste {{user.fullName}},<br>
    <br>
    Welkom bij de koepelvereniging Federation of Purple Study Associations (FPSA)! Wij zijn in het leven geroepen om de studieverenigingen van Fontys te vertegenwoordigen en hen te helpen met zaken waar zij tegenaan lopen.<br>
    <br>
    Uw registratie is bijna compleet! Het enige wat nog dient te gebeuren is het activeren van uw account door het zetten van een wachtwoord. Dit kunt u doen door op <a href="{{baseUrl}}confirmation?token={{token}}">deze link</a> te klikken!
    <br>
    Heb je een vraag of lukt er iets niet? Stel hem meteen via <a href="mailto:info@fpsa.nl">info@fpsa.nl</a> of door te reageren op deze mail!<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>