<style>
    .footer {
        margin-top: 20px;
        font-size:10px;
        line-height:1;
        text-align:center;
        color:white;
        background: #7D52C9;
        padding: 10px;
    }
</style>

<div class="footer">
    Dit bericht is automatisch verzonden, desondanks dat is antwoorden wel mogelijk. Federation of Purple Study Associations (FPSA), Rachelsmolen 1, 5612MA Eindhoven, KvK nr. ???
</div>