<div>
    Beste bestuur der FPSA,<br/>
    <br/>
    Zojuist is er een nieuw document geupload<br/>
    <br/>
    <b>Naam vereniging:</b> {{name}} <br/>
    <b>Type document:</b> {{type}} <br/>
    <b>Datum upload:</b> {{date}} <br/>
    <br>
    Met vriendelijke groet,<br>
    Computersysteem FPSA
</div>